button{
    display: block;
    margin-top: 10px;
    background-color: orangered;
    font-size: 1.25em;
    color: white;
    padding: 10px 10px;
    text-align: center;
    transition: all 300ms;
    border: orangered solid 1px;
}

button:hover{
    padding: 10px 50px 10px 10px;
    background-color: orange;
    color: black;
}